.myPage.body{
    background-color: #055160;
}
body{
    background-color: #055160;
    color: #055160;
    background: #055160;
}

.carousel{
    height: 800px;
    overflow: hidden;
}
.carousel-inner {
    overflow: visible;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
/*.carousel-inner img{*/
/*    left: 50%;*/
/*    max-width: none !important;*/
/*    min-height: 400px;*/
/*    min-width: 100%;*/
/*    position: absolute;*/
/*    top: 200px;*/
/*    transform: translate(-50%,-50%);*/

/*}*/

.carousel-indicators li {
    border-color: #000;
}
.carousel-indicators .active {
    background-color: #000;
}

.body h2{
    color: #0a53be;
}

/*.card-img{*/
/*    width: 100%; !* Ширина области *!*/
/*    height: 100%; !* Высота области *!*/
/*    margin: 0; !* Обнуляем отступы *!*/
/*    overflow: hidden; !* Прячем всё за пределами *!*/
/*    min-width: auto;*/
/*}*/

.col-container{
    display: table-row;
    width: 100%;
}

.col-sm-1{
    display: table-row;
}

.container.price-container{
    border: none;
    border-radius: 30px;
}

.container.overflow-hidden{
    border: none;
    border-radius: 30px;
    width: content-box;
    align-content: center;

}
.order-container{
    width: 100%;
    align-content: center;
    /*border-style: dotted;*/
    /*!*border-radius: 30px;*!*/

}
.btn-order{
    background-color: #ddd;
    border: none;
    border-radius: 30px;
    color: black;
    padding: 16px 32px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    margin: 4px 2px;
    transition: 0.3s;
}
.myPage.body.div.mt-4{
    border-radius: 100px;
    background: #055160;
    background-color: #0f5132;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}
.card{
    text-align: center;
    width: 15rem
}


.p-3.border.bg-light{
    text-align: center;
    border-radius: 30px;
    background-color: #04414d;
}

.btn-order:hover {
    background-color: #055160;
    color: white;
}

/** {*/
/*    box-sizing: border-box;*/
/* */
/*    !*border: rgba(11,29,11,0.49) solid 5px;*!*/
/*    !*padding: 5px;*!*/
/*}*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}